h1{
	font-family: 'Indie Flower', cursive;
}
btn-btn-default{
	color: blue;
}

.class1:hover {
	font-family: 'Zilla Slab', serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	color: blue;
	font-style: italic;
}
.class2{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	font-weight: 30;
	line-height: 28px;
	color: red;
}
.class3{
	font-family: 'Lemonada', cursive;
	font-size: 48px;
	font-weight: 20;
	line-height: 50px;
	color: green;
}