/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
	font-size: 24px;
	line-height: 32px;
	color: #333;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;

}

section {
	padding:20px;
	margin-bottom: 20px;


}

#left {
	float: left;
	width: 33.3%;
	color: #fff;
	background: #666;
}

#middle {
	float: left;
	width: 33.3%;
	color: #fff;
	background: #888;
}

#right {
	float: left;
	width: 33.3%;
	color: #fff;
	background-color: #666;
}

#full {
	width: 100%
	overflow: auto;
	clear: both;
	background-color: #eee;
}

#division {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #6ea3da;
}

aside {
	float: left;
	margin-left:30px;
	width: 33px;
	height:200px; 
	background-color: #fff;
	border: 1px solid #eee;
	padding: 20px;

}

footer {
  clear:both;
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;

}
